
.aboutSection{
    height: 600px;
}
.socialIcon{
    color: rgb(154, 161, 157);
    margin: 12px;
    transition: 2s, 2s, 2s;
}
.socialIcon:hover{
    color: green;
    transform: translateY(-5px);
    transition: .5s ease-out;
} 
.oneBtn{
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid green;
    color: green;
    border-radius: 8px;
    height: 35px;
    margin: 10px;
    width: 185px;
    padding: 5px;
    transition: 1s, 1s, 1s;
    
}

.oneBtn:hover{
    background-color: green;
    color: rgb(206, 192, 192);
    transition: .5s ease-out;
    text-decoration-line: none;
}
.twoBtn{
    font-size: 20px;
    background-color: green;
    color: rgb(206, 192, 192);
    border-radius: 8px;
    height: 35px;
    margin: 10px;
    width: 185px;
    padding-top: 2px;
    transition: 1s, 1s, 1s;
}
.twoBtn:hover{
    background-color: rgb(3, 109, 3);
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: .5s ease-out;
}

*{
    margin: 0;
    padding: 0;
}
.text-box{
    font-size: 40px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span{
    animation: mover 6s linear infinite;
    display: inline-block;
    color: #fff;
    font-weight: bolder;
}
@keyframes mover
{
    0%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
    50%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
        transform: translateY(25px);
      }
    100%
      {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
}
span:nth-child(1)
{
    animation-delay: 0.5s;
}
span:nth-child(2)
{
    animation-delay: 1s;
}
span:nth-child(3)
{
    animation-delay: 1.5s;
}
span:nth-child(4)
{
    animation-delay: 2s;
}
span:nth-child(5)
{
    animation-delay: 2.5s;
}
span:nth-child(6)
{
    animation-delay: 3s;
}
span:hover{
    color:green;
}

