.resumeBtn{
    border: 1px solid green;
    background-color: #0A192F;
    color: white;
    border-radius: 8px;
    transition: 1s, 1s, 1s;
  padding-bottom:-12px;
}
.resumeBtn:hover{
    background-color: #4BB543;
    color: white;
    transition: .5s ease-out;
}

