

.skillImg{
    height:50px;
    width:150px;
    margin: 25px;
}
.skillSection{
    background-color: #172A45;
    margin-top: 25px;
    border-radius:10px;
}
.skillSection:hover{
    background-color: #172d4b;
    margin-top: 25px;
    border-radius:10px;
}