.contact{  
    height: 150%;
}
.sendMessage{
    background-color: #0A192F;
    border: 1px solid green;
    padding: 5px;
    border-radius: 8px;
    color: green;
    font-weight: bolder;
}
.sendMessage:hover{
    background-color: green;
    color: white;
}