.serviceImg{
    height: 200px;
    width: 325px;
    border-radius: 12px 12px 0 0 ;
}
.projectCard{
    background-color: #172A45;
    height: 500px;
    width: 325px;
    border-radius:12px;
    color: rgb(172, 166, 166);
    box-shadow: 0 4px 8px 0 rgba(85, 78, 78, 0.2), 0 6px 20px 0 rgba(114, 105, 105, 0.19);
    transition: 2s, 2s, 2s;
}
.projectCard:hover{
    transform: scale(1.03);
    transition: .5s ease-out;
    box-shadow: 0 4px 8px 0 rgba(117, 105, 105, 0.2), 0 6px 20px 0 rgba(124, 112, 112, 0.19);
}

.projectDesc{
    height:125px;
}
